
@keyframes troca{
    0% {background-color:red;}
    25%{background-color: white;}
    50%{background-color: white;}
    75%{background-color: white;}
    100%{background-color:red;}
}
body{
    display: flex;
    font-size: 50px;

}

.Quadro{
    width: 500px;
    height: 700px;
}
.Todo{
    display: flex;
    width: 650px;
    height: 700px;
    background-color: azure;
}
.Header{
    display: flex;
}
.Temporizador{
    width: 100px;
    height: 100px;
}

.Nivel{
    width: 400px;
    height: 100px;
}

.Cores{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.Cor-Vermelho{
    background-color: rgb(253, 14, 14);
    width: 250px;
    height: 250px;
}
.Cor-Amarelo{
    background-color: rgb(250, 250, 10);
    width: 250px;
    height: 250px;
}
.Cor-Azul{
    background-color: rgb(10, 10, 255);
    width: 250px;
    height: 250px;
}
.Cor-Verde{
    background-color: rgb(8, 250, 8);
    width: 250px;
    height: 250px;
}
