
body{
    display: flex;
    font-size: 50px;

}

.Quadro{
    width: 500px;
    height: 700px;
}
.Todo{
    display: flex;
    width: 650px;
    height: 700px;
    background-color: azure;
}
.Header{
    display: flex;
}
.Temporizador{
    width: 100px;
    height: 100px;
}

.Nivel{
    width: 400px;
    height: 100px;
}

.Cores{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.Cor-Vermelho{
    background-color: red;
    width: 250px;
    height: 250px;
}
.Cor-Amarelo{
    background-color: yellow;
    width: 250px;
    height: 250px;
}
.Cor-Azul{
    background-color: blue;
    width: 250px;
    height: 250px;
}
.Cor-Verde{
    background-color: green;
    width: 250px;
    height: 250px;
}
